header.header
    .header-top
        .container
            .d-flex.jc-space-between.ai-center
                .address
                    | Available 24/7 at
                    span
                        | (405) 555-0128
                nav.header-top-nav.d-flex.jc-space-between.ai-center
                    p Delivery &amp; returns
                    p Track order
                    p Blog
                    p Contacts
                .switch-language.d-flex.ai-center
                    img(src= require ('./images/flag_usa.png') alt='flag_usa')
                    .d-flex.jc-space-between.ai-center
                        p Eng / $
                        img(src=require('./images/arrow_to_down.png') alt='arrow_to_down')
                .login.d-flex.ai-center
                    img(src= require('./images/profile.png') alt='profile')
                    div Log in / Register
    .header-bottom
        .container
            .d-flex.jc-space-between.ai-center
                .logo
                    img(src= require('./images/logo.png') alt='logo')
                nav.header-bottom-nav.d-flex.jc-space-between.ai-center
                    p Women
                    p Men
                    p Girls
                    p Boys
                    p Sale
                .search.d-flex.jc-space-between.ai-center
                    input(type='search' placeholder='Search for products...')
                    img(src= require('./images/search.png') alt='')
                .favorites.d-flex.jc-space-between.ai-center
                    img(src= require('./images/outline.png') alt='')
                    p 2
                .basket.d-flex.jc-space-between.ai-center
                    img(src=require('./images/cart.png') alt='')
                    span 4
.anchor-discount.d-flex.jc-center
    button.b-carousel__prev.js-carousel__prev
        img(src=require('./images/line.png') alt='')
    .wrap
        .b-carousel.js-carousel
            .b-carousel__wrap.js-carousel__wrap
                .b-carousel__item
                    span Up to 70% Off.
                    a(href='#') Shop our latest sale styles
                .b-carousel__item
                    span Up to 80% Off.
                    a(href='#') Shop our latest sale styles
                .b-carousel__item
                    span Up to 90% Off.
                    a(href='#') Shop our latest sale styles
    button.b-carousel__next.js-carousel__next
        img(src=require('./images/line.png') alt='')
section.new-collection
    .container
        button.new-collection-carousel__prev.js-carousel__prev
            img(src=require('./images/line.png') alt='')
        .wrap
            .new-collection-carousel.js-carousel
                .new-collection-carousel__wrap.js-carousel__wrap
                    .new-collection-item.b-carousel__item
                        p New collection
                        h1 Menswear 2020
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
                    .new-collection-item.b-carousel__item
                        p New collection
                        h1 Menswear 2021
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
                    .new-collection-item.b-carousel__item
                        p New collection
                        h1 Menswear 2021
                        .btn Shop sale
                        .btn Shop the menswear
                        img(src='#' alt='')
        button.new-collection-carousel__next.js-carousel__next
            img(src=require('./images/line.png') alt='')
